<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dbbase.mapper.BdZtsjRyjbxxQywxMapper">
    
    <resultMap type="BdZtsjRyjbxxQywx" id="BdZtsjRyjbxxQywxResult">
        <result property="xm"    column="XM"    />
        <result property="lxdh"    column="LXDH"    />
        <result property="sfzjh"    column="SFZJH"    />
        <result property="bmmc"    column="BMMC"    />
        <result property="bmdm"    column="BMDM"    />
        <result property="zymc"    column="ZYMC"    />
        <result property="zydm"    column="ZYDM"    />
        <result property="bjmc"    column="BJMC"    />
        <result property="bjdm"    column="BJDM"    />
        <result property="sfzx"    column="SFZX"    />
        <result property="rylb"    column="RYLB"    />
        <result property="xb"    column="XB"    />
        <result property="zj"    column="ZJ"    />
        <result property="dcDcfieldaud"    column="DC_DCFIELDAUD"    />
        <result property="dcDcdatadate"    column="DC_DCDATADATE"    />
        <result property="dcDctimestamp"    column="DC_DCTIMESTAMP"    />
        <result property="xgh"    column="XGH"    />
        <result property="ksh"    column="KSH"    />
    </resultMap>

    <sql id="selectBdZtsjRyjbxxQywxVo">
        select XM, LXDH, SFZJH, BMMC, BMDM, ZYMC, ZYDM, BJMC, BJDM, SFZX, RYLB, XB, ZJ, DC_DCFIELDAUD, DC_DCDATADATE, DC_DCTIMESTAMP, XGH, KSH from bd_ztsj_ryjbxx_qywx
    </sql>

    <select id="selectBdZtsjRyjbxxQywxList" parameterType="BdZtsjRyjbxxQywx" resultMap="BdZtsjRyjbxxQywxResult">
        <include refid="selectBdZtsjRyjbxxQywxVo"/>
        <where>  
            <if test="xm != null  and xm != ''"> and XM like concat('%', #{xm}, '%')</if>
            <if test="lxdh != null  and lxdh != ''"> and LXDH = #{lxdh}</if>
            <if test="sfzjh != null  and sfzjh != ''"> and SFZJH = #{sfzjh}</if>
            <if test="bmmc != null  and bmmc != ''"> and BMMC like concat('%', #{bmmc}, '%')</if>
            <if test="bmdm != null  and bmdm != ''"> and BMDM = #{bmdm}</if>
            <if test="zymc != null  and zymc != ''"> and ZYMC like concat('%', #{zymc}, '%')</if>
            <if test="zydm != null  and zydm != ''"> and ZYDM = #{zydm}</if>
            <if test="bjmc != null  and bjmc != ''"> and BJMC = #{bjmc}</if>
            <if test="bjdm != null  and bjdm != ''"> and BJDM = #{bjdm}</if>
            <if test="sfzx != null  and sfzx != ''"> and SFZX = #{sfzx}</if>
            <if test="rylb != null  and rylb != ''"> and RYLB = #{rylb}</if>
            <if test="xb != null  and xb != ''"> and XB = #{xb}</if>
            <if test="dcDcfieldaud != null  and dcDcfieldaud != ''"> and DC_DCFIELDAUD = #{dcDcfieldaud}</if>
            <if test="dcDcdatadate != null  and dcDcdatadate != ''"> and DC_DCDATADATE = #{dcDcdatadate}</if>
            <if test="dcDctimestamp != null "> and DC_DCTIMESTAMP = #{dcDctimestamp}</if>
            <if test="xgh != null  and xgh != ''"> and XGH = #{xgh}</if>
            <if test="ksh != null  and ksh != ''"> and KSH = #{ksh}</if>
        </where>
    </select>
    
    <select id="selectBdZtsjRyjbxxQywxById" parameterType="String" resultMap="BdZtsjRyjbxxQywxResult">
        <include refid="selectBdZtsjRyjbxxQywxVo"/>
        where ZJ = #{zj}
    </select>
        
    <insert id="insertBdZtsjRyjbxxQywx" parameterType="BdZtsjRyjbxxQywx">
        insert into bd_ztsj_ryjbxx_qywx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="xm != null">XM,</if>
            <if test="lxdh != null">LXDH,</if>
            <if test="sfzjh != null">SFZJH,</if>
            <if test="bmmc != null">BMMC,</if>
            <if test="bmdm != null">BMDM,</if>
            <if test="zymc != null">ZYMC,</if>
            <if test="zydm != null">ZYDM,</if>
            <if test="bjmc != null">BJMC,</if>
            <if test="bjdm != null">BJDM,</if>
            <if test="sfzx != null">SFZX,</if>
            <if test="rylb != null">RYLB,</if>
            <if test="xb != null">XB,</if>
            <if test="zj != null">ZJ,</if>
            <if test="dcDcfieldaud != null">DC_DCFIELDAUD,</if>
            <if test="dcDcdatadate != null">DC_DCDATADATE,</if>
            <if test="dcDctimestamp != null">DC_DCTIMESTAMP,</if>
            <if test="xgh != null">XGH,</if>
            <if test="ksh != null">KSH,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="xm != null">#{xm},</if>
            <if test="lxdh != null">#{lxdh},</if>
            <if test="sfzjh != null">#{sfzjh},</if>
            <if test="bmmc != null">#{bmmc},</if>
            <if test="bmdm != null">#{bmdm},</if>
            <if test="zymc != null">#{zymc},</if>
            <if test="zydm != null">#{zydm},</if>
            <if test="bjmc != null">#{bjmc},</if>
            <if test="bjdm != null">#{bjdm},</if>
            <if test="sfzx != null">#{sfzx},</if>
            <if test="rylb != null">#{rylb},</if>
            <if test="xb != null">#{xb},</if>
            <if test="zj != null">#{zj},</if>
            <if test="dcDcfieldaud != null">#{dcDcfieldaud},</if>
            <if test="dcDcdatadate != null">#{dcDcdatadate},</if>
            <if test="dcDctimestamp != null">#{dcDctimestamp},</if>
            <if test="xgh != null">#{xgh},</if>
            <if test="ksh != null">#{ksh},</if>
         </trim>
    </insert>

    <update id="updateBdZtsjRyjbxxQywx" parameterType="BdZtsjRyjbxxQywx">
        update bd_ztsj_ryjbxx_qywx
        <trim prefix="SET" suffixOverrides=",">
            <if test="xm != null">XM = #{xm},</if>
            <if test="lxdh != null">LXDH = #{lxdh},</if>
            <if test="sfzjh != null">SFZJH = #{sfzjh},</if>
            <if test="bmmc != null">BMMC = #{bmmc},</if>
            <if test="bmdm != null">BMDM = #{bmdm},</if>
            <if test="zymc != null">ZYMC = #{zymc},</if>
            <if test="zydm != null">ZYDM = #{zydm},</if>
            <if test="bjmc != null">BJMC = #{bjmc},</if>
            <if test="bjdm != null">BJDM = #{bjdm},</if>
            <if test="sfzx != null">SFZX = #{sfzx},</if>
            <if test="rylb != null">RYLB = #{rylb},</if>
            <if test="xb != null">XB = #{xb},</if>
            <if test="dcDcfieldaud != null">DC_DCFIELDAUD = #{dcDcfieldaud},</if>
            <if test="dcDcdatadate != null">DC_DCDATADATE = #{dcDcdatadate},</if>
            <if test="dcDctimestamp != null">DC_DCTIMESTAMP = #{dcDctimestamp},</if>
            <if test="xgh != null">XGH = #{xgh},</if>
            <if test="ksh != null">KSH = #{ksh},</if>
        </trim>
        where ZJ = #{zj}
    </update>

    <delete id="deleteBdZtsjRyjbxxQywxById" parameterType="String">
        delete from bd_ztsj_ryjbxx_qywx where ZJ = #{zj}
    </delete>

    <delete id="deleteBdZtsjRyjbxxQywxByLocal" parameterType="String">
        delete from bd_ztsj_ryjbxx_qywx where `local`=  #{local}
    </delete>

    <delete id="deleteBdZtsjRyjbxxQywxByIds" parameterType="String">
        delete from bd_ztsj_ryjbxx_qywx where ZJ in 
        <foreach item="zj" collection="array" open="(" separator="," close=")">
            #{zj}
        </foreach>
    </delete>
</mapper>